<%= link_to '買い物を続ける', '/' %>
</br>
<hr style="border:1px dashed #87CEEB;">
</br>

<% unless @items.empty? %>
	
	<% goukei = 0 %>

	<table>
  <tr>
    <th colspan="4">カート一覧</th>
  </tr>
  <tr>
    <th>商品</th><th>価格</th><th>数量</th><th>　　</th>
  </tr>
  
  <% @items.each do |c| %>
		<tr>
			<td><%= c.product.name %></td>
			<td>￥<%= c.product.price %></td>
			<td><%= c.quantity %></td>
			<td>
				<%= link_to '削除', cartitem_path(c), method: :delete, data: { confirm: '削除していいですか？' } %>
			</td>
		</tr>
		
		<% goukei = goukei + c.product.price.to_i * c.quantity.to_i %>
	<% end %>
	
	<tr>
    <th colspan="4">合計金額：￥<%= goukei  %></th>
  </tr>
</table>
	
<% else %>
	カートには何も入っていません。
<% end %>