table {
  width:300px;
  border-collapse: collapse;
  border: solid 3px #87CEEB;
  margin: 10px;
  text-align: center;
}
table th, table td {
  padding: 10px;
  border: dashed 1px #87CEEB;/**/
  /*破線 1px オレンジ*/
}