<p>
	<%= link_to '商品を登録する', new_product_path %>
	&emsp;
	<%= link_to 'カートを見る', cart_path(current_cart.id) %>
</p>
<hr style="border:1px dashed #87CEEB;">
</br>

<table>
  <tr>
    <th colspan="4">商品一覧</th>
  </tr>
  <tr>
    <th>商品</th><th>価格</th><th>数量</th><th>　　</th>
  </tr>
  
  <% @products.each do |p| %>
		<tr>
			<td><%= p.name %></td>
			<td>￥<%= p.price %></td>
			<%= form_tag cartitems_path(product_id: p.id) do %></td>
				<td><%= text_field_tag :quantity, 1, size: 2 %></td>
				<td><%= submit_tag 'カートに入れる' %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>
