<%= link_to '買い物をする', '/' %>
</br>
<hr style="border:1px dashed #87CEEB;">
</br>

<%= form_for @product do |s| %>
	<%= s.label :name, '商品名：' %></td>
	<%= s.text_field :name, required: 'required' %>
	&ensp;
	<%= s.label :price, '価格：' %>
	<%= s.text_field :price, required: 'required' %>
	&ensp;
	<%= s.submit '商品を登録' %>
<% end %>

</br></br>

<table>
  <tr>
    <th colspan="3">商品一覧</th>
  </tr>
  <tr>
    <th>商品</th><th>価格</th><th>　　</th>
  </tr>
  
  <% @products.each do |p| %>
		<tr>
			<td><%= p.name %></td>
			<td>￥<%= p.price %></td>
			<td>
				<%= link_to '削除', product_path(p), method: :delete, data: { confirm: '削除していいですか？' } %>
			</td>
		</tr>
	<% end %>
</table>